* {
  margin: 0;
  padding: 0;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 32%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 54%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 7%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  animation-delay: 10s;
}
.background li:nth-child(3) {
  left: 61%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 1s;
}
.background li:nth-child(4) {
  left: 59%;
  width: 103px;
  height: 103px;
  bottom: -103px;
  animation-delay: 19s;
}
.background li:nth-child(5) {
  left: 53%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 4s;
}
.background li:nth-child(6) {
  left: 13%;
  width: 188px;
  height: 188px;
  bottom: -188px;
  animation-delay: 26s;
}
.background li:nth-child(7) {
  left: 77%;
  width: 103px;
  height: 103px;
  bottom: -103px;
  animation-delay: 34s;
}
.background li:nth-child(8) {
  left: 71%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 3s;
}
.background li:nth-child(9) {
  left: 72%;
  width: 162px;
  height: 162px;
  bottom: -162px;
  animation-delay: 26s;
}
.carousel {
  width: 100%;
  height: 100%;
}

#home {
  width: 100%;
  height: 100%;
}

#home {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#profile, #project {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  border-radius: 20px;
  transition: 0.2s;
}
#profile{
  height: 100%;
  max-height: 400px;
}

#project{
  height: 100%;
  max-height: 200px;
}
#project:hover{
  width: 420px;
  height: 420px;
}
@media only screen and (max-width: 1230px) {
  #favorites {
    width: 300px;
  }
}
@media only screen and (max-width: 1000px) {
  #favorites {
    margin: 20px;
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

}
